* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

/* Mobile Styles */
@media only screen and (max-width: 400px) {
  body {
    background-color: #ffffff;
  }
  #slab-full {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 90%;
    margin: 1%;
    height: 100px;
    background-color: #e6e7e9;
    border: 5px solid #111111;
  }
  #slab-full:hover {
    background-color: #89d5ed;
  }
  #slab-medium {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 90%;
    margin: 1%;
    height: 100px;
    background-color: #e6e7e9;
    border: 5px solid #111111;
  }
  #slab-medium:hover {
    background-color: #89d5ed;
  }
  #slab-small {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 90%;
    margin: 1%;
    height: 100px;
    background-color: #e6e7e9;
    border: 5px solid #111111;
  }
  #slab-small:hover {
    background-color: #89d5ed;
  }
}

/* Tablet Styles */
@media only screen and (min-width: 401px) {
  body {
    background-color: #ffffff;
  }
  #slab-full {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 90%;
    margin: 1%;
    height: 100px;
    background-color: #e6e7e9;
    border: 5px solid #111111;
  }
  #slab-full:hover {
    background-color: #89d5ed;
  }
  #slab-medium {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 90%;
    margin: 1%;
    height: 100px;
    background-color: #e6e7e9;
    border: 5px solid #111111;
  }
  #slab-medium:hover {
    background-color: #89d5ed;
  }
  #slab-small {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 90%;
    margin: 1%;
    height: 100px;
    background-color: #e6e7e9;
    border: 5px solid #111111;
  }
  #slab-small:hover {
    background-color: #89d5ed;
  }
}

/* Desktop Styles */
@media only screen and (min-width: 961px) {
  body {
    background-color: #ffffff;
  }
  #slab-full {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 91%;
    height: 100px;
    margin: 5px;
    background-color: #e6e7e9;
    border: 5px solid #111111;
    height: 100px;
    margin: 5px;
    background-color: #e6e7e9;
    border: 5px solid #111111;
  }
  #slab-full:hover {
    background-color: #89d5ed;
  }
  #slab-medium {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    width: 45%;
    height: 100px;
    margin: 5px;
    background-color: #e6e7e9;
    border: 5px solid #111111;
  }
  #slab-small {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    width: 29.7%;
    height: 100px;
    margin: 5px;
    background-color: #e6e7e9;
    border: 5px solid #111111;
  }
}
/*# sourceMappingURL=mystyle.css.map */